@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.react-calendar__tile--active-custom {
  background: #4E2C83 !important;
  color: #fff !important;
  border-radius: 9999px !important;
}